Repository cr-imson-co/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: shellcheck, compose, cookstyle

.gitlab-ci.yml:

---

shellcheck:
  stage: 'test'
  image:
    name: '${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:stable'
    entrypoint: ['']
  tags:
  - 'docker'
  - 'amd64'
  script:
  - 'find . -type f -iname "*.sh" -print0 | xargs -0 shellcheck -s bash -e SC1091'
  rules:
  - if: '($CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "webide" || $CI_PIPELINE_SOURCE == "api") && $FORCE_BUILD'
  - if: '$CI_PIPELINE_SOURCE == "push"'
    changes:
    - '**/*.sh'

compose:
  stage: 'test'
  image:
    name: '${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker/compose:1.29.2'
    entrypoint: ['']
  tags:
  - 'docker'
  - 'amd64'
  script:
  - 'find . -type f -iname "*docker-compose.yml" -print0 | xargs -n 1 -0 -I "{}" docker-compose -f {} config -q'
  rules:
  - if: '($CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "webide" || $CI_PIPELINE_SOURCE == "api") && $FORCE_BUILD'
  - if: '$CI_PIPELINE_SOURCE == "push"'
    changes:
    - '**/docker-compose.yml'

cookstyle:
  stage: 'test'
  image:
    name: '${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/chef/chefdk:4.9.17'
    entrypoint: ['']
  tags:
  - 'docker'
  - 'amd64'
  script:
  - 'cookstyle -c ./cookbooks/.rubocop.yml --cache false'
  rules:
  - if: '($CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "webide" || $CI_PIPELINE_SOURCE == "api") && $FORCE_BUILD'
  - if: '$CI_PIPELINE_SOURCE == "push"'
    changes:
    - '**/*.rb'

[ci] Automated git mirroring from cr.imson.co repository
  cookbooks/docker/files/docker-compose.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/aws.playbook.yml
  ansible/configs/comet.conf.json
  ansible/configs/nemesis.conf.json
  ansible/configs/nomad.conf.json
  ansible/configs/stellar.conf.json
  ansible/crimson.playbook.yml
  ansible/roles/ansible/defaults/main.yml
  ansible/roles/ansible/tasks/main.yml
  ansible/roles/certpackage/tasks/main.yml
  ansible/roles/certsync/files/certsync.service
  ansible/roles/certsync/tasks/main.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/config/tasks/main.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/homelab-notifications/tasks/main.yml
  ansible/roles/homelab-share-backup/tasks/main.yml
  ansible/roles/homelab-share-containers/tasks/main.yml
  ansible/roles/homelab-share-nextcloud/tasks/main.yml
  ansible/roles/homelab-share-registry/tasks/main.yml
  ansible/roles/volume-backup/files/volume-backup.sh
Due: shellcheck

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/docker/tasks/main.yml
Due: none

[ci] Automated git mirroring from cr.imson.co repository
  ansible/configs/comet.conf.json
  ansible/configs/nemesis.conf.json
  ansible/configs/nomad.conf.json
  ansible/configs/stellar.conf.json
Due: none

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/homelab-notifications/files/failure_notification.sh
  ansible/roles/homelab-notifications/files/notification.sh
Due: shellcheck

[ci] Automated git mirroring from cr.imson.co repository
  ansible/crimson.playbook.yml
  ansible/homelab.playbook.yml
  ansible/roles/docker-stack/files/compose/nemesis/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nemesis/keycloak.env
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
  ansible/roles/docker-stack/tasks/main.yml
  ansible/roles/docker-stack/templates/gitlab_config.rb.j2
  ansible/roles/pihole-lan/files/02-lan.conf
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/config/templates/secrets_config.sh.j2
  ansible/roles/docker-stack/templates/gitlab_config.rb.j2
  ansible/roles/homelab-homer/files/config.yml
  ansible/roles/homelab-notifications/files/apprise_requirements.txt
  ansible/roles/volume-backup/files/hooks/snapshot-backup/backup-repo.sh
Due: shellcheck

[ci] Automated git mirroring from cr.imson.co repository
  ansible/aws.playbook.yml
  ansible/configs/nemesis.conf.json
  ansible/crimson.playbook.yml
  ansible/dns.playbook.yml
  ansible/lint.yml
  ansible/roles/admin/defaults/main.yml
  ansible/roles/admin/tasks/main.yml
  ansible/roles/config/templates/config.sh.j2
  ansible/roles/config/templates/secrets_config.sh.j2
  ansible/roles/docker-stack/files/compose/nemesis/keycloak.env
  ansible/roles/pihole-lan/files/02-lan.conf
  ansible/roles/pihole-lan/tasks/main.yml
  ansible/roles/pihole-vpn/files/02-vpn.conf
  ansible/roles/pihole-vpn/tasks/main.yml
  ansible/roles/valheim-server/files/compose/docker-compose.yml
  ansible/roles/valheim-server/files/compose/valheim.env
  ansible/roles/valheim-server/files/hooks/post-start/valheim.sh
  ansible/roles/valheim-server/files/hooks/post-stop/valheim.sh
  ansible/roles/valheim-server/files/hooks/pre-stop/valheim.sh
  ansible/roles/valheim-server/files/scripts/common.sh
  ansible/roles/valheim-server/files/scripts/restart.sh
  ansible/roles/valheim-server/files/scripts/start.sh
  ansible/roles/valheim-server/files/scripts/stop.sh
  ansible/roles/valheim-server/files/scripts/update.sh
  ansible/roles/valheim-server/tasks/main.yml
  ansible/roles/valheim-server/templates/valheim.env.j2
  ansible/valheim.playbook.yml
Due: shellcheck, compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/configs/nemesis.conf.json
  ansible/configs/nomad.conf.json
  ansible/crimson.playbook.yml
  ansible/homelab.playbook.yml
  ansible/roles/homelab-notifications/files/notification.sh
  ansible/roles/homelab-notifications/tasks/main.yml
  ansible/roles/homelab-notifications/templates/apprise.config.yml.j2
  ansible/roles/valheim-server/files/backup/valheim-volume-backup.service
  ansible/roles/valheim-server/files/backup/valheim-volume-backup.sh
  ansible/roles/valheim-server/files/backup/valheim-volume-backup.timer
  ansible/roles/valheim-server/files/compose/docker-compose.yml
  ansible/roles/valheim-server/files/hooks/post-backup-valheim/notify-success-valheim.sh
  ansible/roles/valheim-server/files/hooks/pre-backup-valheim/check-backup-mount-valheim.sh
  ansible/roles/valheim-server/tasks/main.yml
  ansible/roles/volume-backup/files/hooks/snapshot-backup/backup-repo.sh
  ansible/roles/volume-backup/tasks/main.yml
  ansible/roles/volume-backup/templates/01-volume-backup-schedule.conf.j2
Due: shellcheck, compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
  ansible/roles/docker-stack/files/compose/stellar/docker-compose.yml
  ansible/roles/docker-stack/tasks/main.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/init.sh
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
Due: shellcheck, compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/configs/nemesis.conf.json
  ansible/roles/docker-stack/files/compose/comet/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nemesis/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
  ansible/roles/docker-stack/files/compose/stellar/docker-compose.yml
  ansible/roles/valheim-server/files/compose/docker-compose.yml
  ansible/roles/valheim-server/files/config/valheim_plus.cfg
  ansible/roles/valheim-server/tasks/main.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/valheim-server/files/config/valheim_plus.cfg
Due: none

[ci] Automated git mirroring from cr.imson.co repository
  ansible/dns.playbook.yml
  ansible/roles/docker-stack/files/compose/stellar/docker-compose.yml
  ansible/roles/docker-stack/tasks/main.yml
  ansible/roles/pihole-lan/files/02-lan.conf
  ansible/roles/pihole-lan/tasks/main.yml
  ansible/roles/pihole-vpn/files/02-vpn.conf
  ansible/roles/pihole-vpn/tasks/main.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/common/tasks/main.yml
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
  ansible/roles/homelab-share-backup/tasks/main.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/config.playbook.yml
  ansible/roles/valheim-server/files/config/valheim_plus.cfg
Due: none

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/docker-stack/files/compose/comet/docker-compose.yml
  ansible/roles/homelab-homer/files/config.yml
  ansible/roles/homelab-homer/files/icons/apple-touch-icon.png
  ansible/roles/homelab-homer/files/icons/favicon-16x16.png
  ansible/roles/homelab-homer/files/icons/favicon-32x32.png
  ansible/roles/homelab-homer/files/icons/favicon.ico
  ansible/roles/homelab-homer/files/icons/favicon.png
  ansible/roles/homelab-homer/files/icons/pwa-192x192.png
  ansible/roles/homelab-homer/files/icons/pwa-512x512.png
  ansible/roles/homelab-homer/tasks/main.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/common/tasks/main.yml
  assets/cr.imson.co_logo/favicon-16x16.png
  assets/cr.imson.co_logo/favicon-32x32.png
Due: none

[ci] Automated git mirroring from cr.imson.co repository
  .gitignore
  .gitlab-ci.yml
  ansible/hosts.yml
  ansible/k3s.playbook.yml
  ansible/lint.yml
  ansible/roles/k3s-master/tasks/main.yml
  ansible/roles/k3s-prep/tasks/main.yml
  ansible/roles/k3s-worker/tasks/main.yml
  ansible/roles/wireguard_client/tasks/main.yml
Due: none

[ci] Automated git mirroring from cr.imson.co repository
  ansible/docker.playbook.yml
  ansible/hosts.yml
  ansible/roles/docker-stack/files/compose/comet/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nemesis/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
  ansible/roles/docker-stack/files/compose/stellar/docker-compose.yml
  ansible/roles/docker-stack/tasks/main.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/common.playbook.yml
  ansible/homelab.playbook.yml
  ansible/hosts.yml
  ansible/init.sh
  ansible/play.sh
  ansible/roles/common/tasks/main.yml
  ansible/roles/docker-stack/files/compose/hades/docker-compose.yml
Due: shellcheck, compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/hosts.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/docker-stack/files/compose/hades/docker-compose.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/docker-stack/files/compose/nemesis/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
  ansible/roles/mount-check/files/mount-check.service
  ansible/roles/mount-space-alert/files/check-space-remaining.service
  ansible/roles/mount-space-alert/files/check-space-remaining.sh
Due: shellcheck, compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/valheim-server/tasks/main.yml
Due: none

[ci] Automated git mirroring from cr.imson.co repository
  ansible/crimson.playbook.yml
  ansible/roles/docker-stack/files/compose/comet/docker-compose.yml
  ansible/roles/docker-stack/files/compose/hades/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nemesis/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
  ansible/roles/docker-stack/files/compose/stellar/docker-compose.yml
  ansible/roles/homelab-reverse-proxy/files/default.conf
  ansible/roles/updates/tasks/main.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/homelab-homer/defaults/main.yml
  ansible/roles/homelab-homer/files/config.yml
  ansible/roles/homelab-homer/files/custom.css
  ansible/roles/homelab-homer/tasks/main.yml
Due: none

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/docker-stack/files/compose/hades/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nemesis/docker-compose.yml
  ansible/roles/docker-stack/files/compose/nomad/docker-compose.yml
  ansible/roles/homelab-reverse-proxy/files/default.conf
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/roles/docker-stack/files/compose/nemesis/docker-compose.yml
Due: compose

[ci] Automated git mirroring from cr.imson.co repository
  ansible/crimson.playbook.yml
Due: none
